<div ng-controller="beforeLoginSignUpUser">
    
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Registration</h1>
                </div>
                <h5>
                    Clock's ticking and don't know <span style="color:#48cfad">what to do?</span>, <span style="color:#48cfad">when to quit? </span> or <span style="color:#48cfad">where to join </span>. Let's help each other and talk about <span style="color:#48cfad">Notice Period</span>!
                </h5>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->
    <!--container start-->
    <div class="registration-bg">
        <div class="container">

            <div class="form-signin wow fadeInUp">
                <h2 class="form-signin-heading">Register now</h2>
                <div class="login-wrap">
                    <p>Enter personal details</p>
                    <input type="text" class="form-control" placeholder="First Name" ng-model="UserFormData.FirstName" autofocus="">
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="UserFormData.LastName" autofocus="">
                    <input type="text" class="form-control" placeholder="Email" ng-model="UserFormData.EmailId" autofocus="">                    
                    <input type="password" class="form-control" placeholder="Password" ng-model="UserFormData.Password">
                    <input type="password" class="form-control" placeholder="Re-type Password" ng-model="UserFormData.ConfirmPassword">
                    <label class="checkbox">
                        <input type="checkbox" value="agree this condition" ng-model="UserFormData.tnc"> I agree to the <a href="#/tnc">Terms of Service</a> and <a href="#/privacy">Privacy</a> Policy
                    </label>

                    <div class="field">
                        <ul class="alert alert-danger alert-dismissable" ng-show="showErrors" style="margin-left: 0;">
                            <li ng-show="FirstNameAlert.visible" ng-bind="FirstNameAlert.message"></li>
                            <li ng-show="LastNameAlert.visible" ng-bind="LastNameAlert.message"></li>
                            <li ng-show="EmailIdAlert.visible" ng-bind="EmailIdAlert.message"></li>
                            <li ng-show="PasswordAlert.visible" ng-bind="PasswordAlert.message"></li>
                        </ul>
                        <button type="submit" ng-click="UserSignUp()" class="btn bg-accepter btn-block">Create Account</button>
                        <a href="#/login" class="text-center text-accepter">I already have an Account</a>
                        <div class="div_c"></div>
                        
                        <div class="field">
                            <div class="clrfx mb-20 bt"><span class="inner-title">Login With</span></div>
                            <!-- Social Media Buttons -->
                            <div class="sb field text-center">
                                <a class="btn btn-social-icon btn-facebook" ng-click="openFacebookAuthWindow()"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-google-plus" ng-click="openGoogleAuthWindow()"><i class="fa fa-google-plus"></i></a>
                                <!--<a class="btn btn-social-icon btn-linkedin" ng-click="openLinkedinAuthWindow()"><i class="fa fa-linkedin"></i></a>-->
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--container end-->

</div>

