<div ng-controller="resetPasswordTemplate">       
    <div class="container" >
        <div class="row margin_left_top">                      
            <div class="col-md-7">        
                <div class="pageIntro">
                    <div class="div_c"></div>
                        <span class="PsTitle PsTitle_Font_m" ng-show="!PasswordAlertContent.visible">Type your new password.</span>
                        <div ng-show="PasswordAlertContent.visible" class="title text-left alert alert-danger" style="margin-left: 0px"><i class="fa fa-ban"></i><span ng-bind="PasswordAlertContent.message"></span></div>
                </div>
            </div>
            <div class="div_c"></div>
            <div class="div_c"></div>
            <div class="reset-form col-md-7">
                <!-- Form fields -->
                <!-- Email input -->
                <div class="field">
                    <input type="password" class="form-control" placeholder="Enter new password" ng-model="FormData.pass" required="">
                    <span class="entypo-lock icon"></span>
                    <span class="slick-tip left bg_uni_inputBox">Enter your password</span>
                </div>
                <div class="field">
                    <input type="password" class="form-control" placeholder="Confirm password" ng-model="FormData.repass" required="">
                    <span class="entypo-lock icon"></span>
                    <span class="slick-tip left bg_inputBox">Confirm password</span>
                </div>
                <div class="clrfx mt-10"></div>
                <div class="w-47 mt-10">
                    <p class="small"><span class="entypo-clock"></span>Click on Reset button to set your new password.</p>
                </div>
                <!-- Send button -->
                <input type="submit" ng-click="resetPasswordRequest()" value="Reset" class="btn btn-primary btn-flat">
            </div>
        </div><!-- /.row -->   
    </div>
</div>
