<!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content" ng-controller="showTemplateDetailController">                   
                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 connectedSortable">
                            
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab_1">Job Detail</a></li>                                                                    
                                    
                                </ul>
                                <div class="tab-content">
                                    <div id="tab_1" class="tab-pane active">
                                        <div class="row">
                                           
                                            <div class="col-sm-12">
                                                <p class="lead"><span ng-bind="TemplateInfo.title"></span></p>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody><tr>
                                                            <th>Type:</th>
                                                            <td><span ng-bind="TemplateInfo.type"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>subType:</th>
                                                            <td><span ng-bind="TemplateInfo.subType"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total Threads:</th>
                                                            <td><span ng-bind="TemplateInfo.totalThreads"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Remaining Threads:</th>
                                                            <td><span ng-bind="TemplateInfo.remainingThreads"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Max you can earn</th>
                                                            <td><span ng-bind="TemplateInfo.currency"></span> <span ng-bind="TemplateInfo.earningPerThreads"></span></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Started at</th>
                                                            <td><span ng-bind="TemplateInfo.creationTime"></span></td>
                                                        </tr>-->
                                                    </tbody></table>
                                                </div>
                                                <span ng-show="userShowTemplateDetailsIWillDoItAndReportAbuseButton"><button class="btn btn-success btn-sm" ng-click="TemplateDetailShowRulesAndRegulationInfoDivFunction()">I will do it</button>&nbsp;<button class="btn btn-warning btn-sm" ng-show="viewThisSurveyDisplay" ng-click="showSurveyQuestionDetails()">View this survey.</button>&nbsp;<button class="btn btn-danger btn-sm">This is a spam.</button></span>
                                            </div><!-- /.col -->
                                            

                                            <br />
                                             <div class="col-sm-12" ng-show="TemplateDetailShowRulesAndRegulationInfoDiv">
                                                <div class="callout callout-danger">
                                                    <h4>Attention !!!</h4>
                                                    <p>After accepting you have to complete the job within 10 min, failing to do so will result in decrease in your reputation level.
                                                 only accept if you will be able to complete the job within 10 mins of time span.</p>
                                                </div>
                                                 <div class="callout callout-info">
                                                    <h4> NOTE</h4>
                                                    <p>To Restrict spam and for make the survey genuine we created few rules. please visit <a href="#">Earning/Bonus Rules and Regulations</a>. if you
                                                 have any queries please feel free to <a href="#/contactUs">contact us</a></p>
                                                </div>
                                                 
                                                <button class="btn btn-success btn-sm" ng-click="userShowTemplateDetailFinalAcceptance(TemplateInfo.type,TemplateInfo.subType,TemplateInfo.refKey)">I Accept</button>&nbsp;<button class="btn btn-danger btn-sm">Cancel</button>
                                            </div><!-- /.col -->

                                        </div>
                                    </div><!-- /.tab-pane -->                                    
                                </div><!-- /.tab-content -->
                            </div><!-- nav-tabs-custom -->
                        </div>
                         
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
