<!-- page content -->
<div class="right_col" role="main" ng-controller="AllUsersPageController">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Projects <small>Listing design</small></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" ng-change="fetchAllUsers()" ng-model="allUsersQuery" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Projects</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p>Simple table with project listing with progress and editing options</p>
                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th style="width: 2%">Name</th>
                                    <th>Profile pic</th>
                                    <th>Account Progress</th>
                                    <th>Status</th>
                                    <th style="width: 20%">#Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in allUsers">
                                    <td ng-bind="$index"></td>
                                    <td>
                                        <ul class="list-inline">
                                            <li>
                                                <img ng-src="{{user.Profilepic}}" class="avatar" alt="Avatar">
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <a ng-bind="user.Name"></a>
                                        <br />
                                        <small ng-bind="user.Email"></small>
                                    </td>                                    
                                    <td class="project_progress">
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                        </div>
                                        <small>57% Complete</small>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" ng-click="getFullUserDetails(user.Email)" data-target="#myModal">Edit</button>                                        
                                        <!--<a ng-click="getFullUserDetails(user.Email)" data-target="#myModal" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>-->
                                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                        <!-- end project list -->
                        
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="getFullUserDetails('sumitchourasia91@gmail.com')" data-target="#myModal">Open Modal</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="brief"><i ng-bind="userFullDetail.username"></i></h4>
                                        <div class="left col-xs-7">
                                            <h2><span ng-bind="userFullDetail.firstName"></span>&nbsp;<span ng-bind="userFullDetail.lastName"></span></h2>
                                            <p><strong>Source: </strong> <span ng-bind="userDetail.source"></span> </p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-phone"></i> gender : <span ng-bind="userFullDetail.gender"></span></li>
                                                <li><i class="fa fa-phone"></i> isActive : <span ng-bind="userFullDetail.isActive"></span> </li>
                                                <li><i class="fa fa-phone"></i> locked : <span ng-bind="userFullDetail.locked"></span> </li>
                                                <li><i class="fa fa-phone"></i> keepMeSignedIn : <span ng-bind="userFullDetail.keepMeSignedIn"></span> </li>
                                                <li><i class="fa fa-phone"></i> vertexId : <span ng-bind="userFullDetail.vertexId"></span> </li>

                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img class="img-circle img-responsive" alt="" ng-src="{{userFullDetail.imageUrl}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->