<div ng-controller="beforeLoginForgetPassword">
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Forgot Password</h1>
                </div>
                <h5>
                    Clock's ticking and don't know <span style="color:#48cfad">what to do?</span>, <span style="color:#48cfad">when to quit? </span> or <span style="color:#48cfad">where to join </span>. Let's help each other and talk about <span style="color:#48cfad">Notice Period</span>!
                </h5>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row margin_left_top">
            <div class="col-md-7">
                <div class="pageIntro">
                    <div class="div_c"></div>
                    <span class="PsTitle PsTitle_Font_m" ng-show="ForgetPasswordContent">       Reset your password   </span>
                    <div ng-show="ForgetPasswordAlertContent.visible" class="title text-left alert alert-danger marign_zero_left"><i class="fa fa-ban"></i><span ng-bind="ForgetPasswordAlertContent.message"></span></div>
                    <div class="field" ng-show="ResendValidationOrSignup.visible">
                        <span class="title text-left">{{ResendValidationOrSignup.titile}}</span>
                        <span style="float: left;"> <input type="button" ng-click="ResendValidationCodeRequest()" value="{{ResendValidationOrSignup.buttonName}}" class="btn btn-danger btn-flat"></span>
                    </div>
                    <!-- Intro text -->
                    <p ng-class="{true:'intro PsTitle_Font_m', false:'intro PsTitle_Font_w'}[IsMobileDevice]">Forgot your password? <b class="PsTitle">No worries,</b> simply enter your email and we'll send you password reset link.</p>
                </div>
            </div>
            <div class="reset-form col-md-7">
                <!-- Form fields -->
                <!-- Email input -->
                <div class="field">
                    <input type="email" class="form-control" id="forgetPasswordInputBoxId" name="email" placeholder="Your email">
                    <span class="entypo-mail icon"></span>
                    <span class="slick-tip left bg_uni_inputBox">Enter your email</span>
                </div>
                <div class="clrfx mt-10"></div>
                <div class="w-47 mt-10">
                    <p class="small"><span class="entypo-clock"></span>Check your email or spam in about 2 minutes.</p>
                </div>
                <!-- Send button -->
                <input type="submit" ng-click="ForgetPasswordSendRequest()" value="Reset" class="btn btn-primary btn-flat" name="send">
                <!-- / Resend activation code while user account is not validated -->
            </div>
        </div>
    </div><!-- /.row -->  
   

</div>

