<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="GoogleAnalyticsAccountCode" value="UA-70627596-1" />
	  <add key="GALogging" value="true" />
	  <add key="GAInfoLogging" value="true" />
	  <add key="IsUsingAmazonDB" value="true" />
	  
	  <add key="GmailSmtpEmail" value="zestork@gmail.com" />
	  <add key="GmailSmtpEmailFrom" value="zestork@gmail.com" />
	  <add key="GmailSmtpEmailFromDoNotReply" value="zestork@gmail.com" />
	  <add key="GmailSmtpPassword" value="welcome12#" />
	  <add key="GmailSmtpHost" value="smtp.gmail.com" />
	  
	  
	  <add key="SmtpPassword" value="F6WWebKEZNKZMWHTPfQUkg" />	
	  <add key="SmtpEmailFrom" value="hi@orbitpage.com" />
	  <add key="SmtpEmailFromDoNotReply" value="donotreply@orbitpage.com" />
	  <add key="SmtpEmail" value="sumitchourasia91@gmail.com" />
	  <add key="SmtpHost" value="smtp.mandrillapp.com" />

	  <!--<add key="SmtpEmail" value="zestork@gmail.com" />
	  <add key="SmtpEmailFrom" value="zestork@gmail.com" />
	  <add key="SmtpEmailFromDoNotReply" value="zestork@gmail.com" />
	  <add key="SmtpPassword" value="welcome12#" />
	  <add key="SmtpHost" value="smtp.gmail.com" />-->
	  
	  <!--<add key="SmtpEmail" value="AKIAIU7PZYL3PHBHLOJQ" />
	  <add key="SmtpEmailFrom" value="sumit@orbitpage.com" />
	  <add key="SmtpEmailFromDoNotReply" value="donotreply@orbitpage.com" />
	  <add key="SmtpPassword" value="AszMZihg8lM05b3HFTEhZsp5ufYXV0sw/ESqnM+cS8QO" />
	  <add key="SmtpHost" value="email-smtp.us-west-2.amazonaws.com" />-->
	  
	  <add key="SmtpPort" value="587" />	  
	  <add key="SmtpEnableSsl" value="true" />
	  
	  <!--true-->
	  <add key="AWSAccessKey" value="AKIAIIUOBG6TQFINXYSQ" />
	  <add key="AWSSecretKey" value="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" />
	  <add key="Bucketname" value="urnotice" />
	  <add key="GoeCodingGoogleKey" value="AIzaSyDh3AFUyHS_xT5kTqSTsv5MnAtVwmlaZw0" />
	  <add key="AmazonS3PublicUrl" value="https://s3-ap-southeast-1.amazonaws.com" />
	  <add key="dollarToRupeesValue" value="60" />
	  <add key="AuthKey" value="cb607bec-83d8-404f-8bb4-dc246e68be60" />
	  <add key="ImgurClientId" value="57d002ed250f982" />
	  <add key="ImgurClientSecret" value="5d46e0536c4348f454f1fae14e623733feb33351" />
	  <!--<add key="ContactUsReceivingEmailIds" value="sumitchourasia91@gmail.com,sum_kumar12@yahoo.co.in" />-->
	  <add key="ContactUsReceivingEmailIds" value="sumitchourasia91@gmail.com" />
	  <add key="ExceptionsSendToEmail" value="sumitchourasia91@gmail.com" />
	  <add key="unCompanySolr" value="http://52.27.145.148:8983/solr/UN-Company" />
	  <add key="UnDesignationSolr" value="http://52.27.145.148:8983/solr/UN-Designation" />
	  <add key="UnUserSolr" value="http://52.34.72.223:8983/solr/UN-Users" />
	  <!-- local host
    <add key="linkedinAppID" value="75ydvuitz9cjgl" />
    <add key="linkedinAppSecret" value="kRq3kdSjCJY9Os8V" />-->
	  <!-- cautom.com-->
	  <add key="linkedinAppID" value="750h4mf7rnwgtp" />
	  <add key="linkedinAppSecret" value="J4QYHXXNGIYfDEjy" />
	  <add key="FacebookAppID" value="1654970281445607" />
	  <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Fbtest-->
	  <add key="FacebookAppSecret" value="7fb95ca66cdf9984221c26a6c839c62e" />
	  <add key="FacebookAppIDCautom" value="854100698042708" />
	  <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Cautom-->
	  <add key="FacebookAppSecretCautom" value="b010047fbc279e1cb56afbeafa896db2" />
	  <add key="googleAppID" value="677702369696-fd60ehj2lt5q6lchfhqepb3l4alq8iet.apps.googleusercontent.com" />
	  <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Fbtest-->
	  <add key="googleAppSecret" value="gsA_Xowsa1CD1ELJo96ouhDm" />
	  <add key="googleAppIDCautom" value="281655485499-7jdedr4hgvlvcavrv5rm463m6nkb2dh3.apps.googleusercontent.com" />
	  <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Cautom-->
	  <add key="googleAppSecretCautom" value="lRBX9nuBJXf3w0Er9ot6i76i" />
  </appSettings>

  <system.web>
    
    <httpRuntime targetFramework="4.5" />
	  <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
	  
  </system.web>
	
	<connectionStrings>
		<add name="urnoticeAuthEntities" connectionString="metadata=res://*/Model.urNoticeAuthContext.urNoticeAuthContext.csdl|res://*/Model.urNoticeAuthContext.urNoticeAuthContext.ssdl|res://*/Model.urNoticeAuthContext.urNoticeAuthContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urnotice.cnahmg0bxe3c.us-west-2.rds.amazonaws.com;initial catalog=urnoticeAuth;user id=urnotice;password=Indiaisgreat12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="urnoticeRatingEntities" connectionString="metadata=res://*/Model.urNoticeRatingContext.urNoticeRatingContext.csdl|res://*/Model.urNoticeRatingContext.urNoticeRatingContext.ssdl|res://*/Model.urNoticeRatingContext.urNoticeRatingContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urnotice.cnahmg0bxe3c.us-west-2.rds.amazonaws.com;initial catalog=urnoticeRating;user id=urnotice;password=Indiaisgreat12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="urnoticeAnalyticsEntities" connectionString="metadata=res://*/Model.urNoticeAnalyticsContext.urNoticeAnalyticsContext.csdl|res://*/Model.urNoticeAnalyticsContext.urNoticeAnalyticsContext.ssdl|res://*/Model.urNoticeAnalyticsContext.urNoticeAnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urnotice.cnahmg0bxe3c.us-west-2.rds.amazonaws.com;initial catalog=urnoticeAnalytics;user id=urnotice;password=Indiaisgreat12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
