<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\\Errorlog_" />
			<appendToFile value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd.\tx\t" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c:%L] - %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="OFF" />
			<!--log4net levels are defined in the following order: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
  <appSettings>
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleAnalyticsAccountCode" value="UA-70627596-1" />
    <add key="GALogging" value="true" />
    <add key="GAInfoLogging" value="true" />
    <add key="IsUsingAmazonDB" value="true" />
    <add key="SmtpEmail" value="zestork@gmail.com" />
    <!--zestork@gmail.com-->
    <add key="SmtpPassword" value="welsumitcome12#" />
    <!--welcome12#-->
    <add key="SmtpPort" value="587" />
    <!--587-->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <!--smtp.gmail.com-->
    <add key="SmtpEnableSsl" value="false" />
    <!--true-->
    <add key="AWSAccessKey" value="AKIAIIUOBGsumit6TQFINXYSQ" />
    <add key="AWSSecretKey" value="yURPCRxsx39TEYvg1VzcIsumitpySL+psUEWOb/pwvjcT" />
    <add key="Bucketname" value="urnotice" />
    <add key="GoeCodingGoogleKey" value="AIzaSyDh3AFUyHS_xTsumit5kTqSTsv5MnAtVwmlaZw0" />
    <add key="AmazonS3PublicUrl" value="https://s3-ap-southeast-1.amazonaws.com" />
    <add key="dollarToRupeesValue" value="60" />
    <add key="AuthKey" value="cb607bec-83d8-404f-8bb4-dc246e68be60" />
    <add key="ImgurClientId" value="57d002esumitd250f982" />
    <add key="ImgurClientSecret" value="5d46e0536c4348f454f1sumitfae14e623733feb33351" />
    <add key="ContactUsReceivingEmailIds" value="sumitchourasia91@gmail.com,sum_kumar12@yahoo.co.in" />
    <add key="ExceptionsSendToEmail" value="sumitchourasia91@gmail.com" />
    <add key="unCompanySolr" value="http://52.27.145.148:8983/solr/UN-Company" />
    <add key="UnDesignationSolr" value="http://52.27.145.148:8983/solr/UN-Designation" />
    <!-- local host
    <add key="linkedinAppID" value="75ydvsumituitz9cjgl" />
    <add key="linkedinAppSecret" value="kRq3kdSsumitjCJY9Os8V" />-->
    <!-- cautom.com-->
    <add key="linkedinAppID" value="750h4msumitf7rnwgtp" />
    <add key="linkedinAppSecret" value="J4QYHXXsumitNGIYfDEjy" />
    <add key="FacebookAppID" value="1654970sumit281445607" />
    <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Fbtest-->
    <add key="FacebookAppSecret" value="7fb95ca66cdf998sumit4221c26a6c839c62e" />
    <add key="FacebookAppIDCautom" value="854100sumit698042708" />
    <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Cautom-->
    <add key="FacebookAppSecretCautom" value="b010047fbc279e1cb5sumit6afbeafa896db2" />
    <add key="googleAppID" value="677702369696-fd60ehj2lt5q6lchfhqepb3l4sumitalq8iet.apps.googleusercontent.com" />
    <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Fbtest-->
    <add key="googleAppSecret" value="gsA_Xowsa1CD1ELJsumito96ouhDm" />
    <add key="googleAppIDCautom" value="281655485499-7jdedr4hgvlvcavrv5rsumitm463m6nkb2dh3.apps.googleusercontent.com" />
    <!--http://localhost:8111/SocialAuth/FBLogin/facebook/               Cautom-->
    <add key="googleAppSecretCautom" value="lRBX9nuBJXf3w0Er9ot6i76i" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="urnoticeAuthEntities" connectionString="metadata=res://*/Models.urNoticeContext.csdl|res://*/Models.urNoticeContext.ssdl|res://*/Models.urNoticeContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urnotice.cnahmg0bxe3c.us-west-2.rds.amazonaws.com;initial catalog=urnoticeAuth;user id=urnotice;password=Indiaisgreat12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="urnoticeRatingEntities" connectionString="metadata=res://*/Model.urNoticeRatingContext.urNoticeRatingContext.csdl|res://*/Model.urNoticeRatingContext.urNoticeRatingContext.ssdl|res://*/Model.urNoticeRatingContext.urNoticeRatingContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urnotice.cnahmg0bxe3c.us-west-2.rds.amazonaws.com;initial catalog=urnoticeRating;user id=urnotice;password=Indiaisgreat12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="urnoticeAnalyticsEntities" connectionString="metadata=res://*/Model.urNoticeAnalyticsContext.urNoticeAnalyticsContext.csdl|res://*/Model.urNoticeAnalyticsContext.urNoticeAnalyticsContext.ssdl|res://*/Model.urNoticeAnalyticsContext.urNoticeAnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urnotice.cnahmg0bxe3c.us-west-2.rds.amazonaws.com;initial catalog=urnoticeAnalytics;user id=urnotice;password=Indiaisgreat12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
