
<!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content" ng-controller="UserAfterLoginFacebookLike">               
                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 connectedSortable">
                            
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable">                            
                           <div class="box box-color box-bordered">
               
                               <section class="col-lg-12 connectedSortable">                            
                                   <div class="box box-color box-bordered">
                                       <div class="box-title">
                                           <h3>
                                               <i class="icon-user"></i>Facebook Like
                                           </h3>
                                       </div>
                                       <div class="box-content nopadding">
                                             <div class="search-results" ng-show="isUserConnectedToFacebook">
									            <ul>
										            <li ng-repeat="Thread in FacebookLikeList">
                                                        <article  class="oJobTile callout callout-lightBlue">
										                <button class="oBtnCloseSmall oRight oJobHideButton"></button>
                                                        
										                <h1 class="oRowTitle oH3">
										                    <span ng-bind="Thread.title"></span></h1>
										                <div class="oSupportInfo">
										                    <strong> Info</strong>
										                    Total Threads : <span style="color:#368ee0" ng-bind="Thread.totalThreads"></span>&nbsp; Remaining Thread : <span style="color:#368ee0" ng-bind="Thread.remainingThreads"></span>&nbsp; Max Earning : <span style="color:#368ee0" ng-bind="Thread.currency"></span><span style="color:#368ee0" ng-bind="Thread.earningPerThreads"></span>                                                    
										                </div>										                
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <span data-ng-bind-html="Thread.description"></span>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <span data-ng-bind-html="Thread.pageUrl"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button class="btn btn-success" ng-click="validateFacebookLike($index)">Validate like</button>
                                                            </div>
                                                        </div>
										                <div class="oSupportInfo">
										                    <strong>Category:</strong><span ng-bind="Thread.type"></span>
										                    |&nbsp;<strong>Sub Category:</strong><span ng-bind="Thread.subType"></span>
										                </div>
										            </article>
                                                    </li>
									    
									            </ul>

                                       </div>

                                       <div ng-show="!isUserConnectedToFacebook && !isFacebookAuthCookieExpired">

                                         <div class="alert alert-success alert-dismissable innerDivCenterAlign">
                                                                <i class="fa fa-check"></i>
                                                                <b>Alert!</b> You are not connected to facebook via Cautom.
                                                            </div> 
                                              <div> Please Refresh the page if it doesn't automatically get refreshed after connecting the facebook.</div>                                   
                                             <div class="error-content callout callout-info innerDivCenterAlign">
                                                 <h3 class="ng-binding"> <i class="fa fa-info"></i> Connect To facebook.</h3>
                                                 <a class="btn btn-block btn-social btn-facebook" ng-click="openFacebookAuthWindow()">
                                                    <i class="fa fa-facebook"></i> Connect to Facebook
                                                </a>
                                                                                             
                                             </div>                                            
                                   </div>

                                   <div ng-show="!isUserConnectedToFacebook && isFacebookAuthCookieExpired">

                                         <div class="alert alert-success alert-dismissable innerDivCenterAlign">
                                                                <i class="fa fa-check"></i>
                                                                <b>Alert!</b> Your Facebook Auth cookie is expired.
                                                            </div> 
                                              <div> Please Refresh the page if it doesn't automatically get refreshed after connecting the facebook.</div>                                       
                                             <div class="error-content callout callout-info innerDivCenterAlign">
                                                 <h3 class="ng-binding"> <i class="fa fa-info"></i> Re-Generate your facebook Auth Cookie.</h3>
                                                 <a class="btn btn-block btn-social btn-facebook" ng-click="openFacebookAuthWindow()">
                                                    <i class="fa fa-facebook"></i> Connect to Facebook
                                                </a>
                                                                                      
                                             </div>                                            
                                   </div>
                               </section>

                           </div>
                        </section><!-- /.Left col -->                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
                
