<div ng-controller="beforeLoginSignUpUser">
    
    <div class="row" style="min-height: 90px;">

    </div>
    <!--container start-->
    <div class="login-bg">
        <div class="container">

            <form class="form-signin wow fadeInUp" id="mc-form">
                <h2 class="form-signin-heading">Register now</h2>
                <hr />
                <div class="field">                    
                    <div class="row text-center">
                        <div class="col-md-6 col-sm-12">
                            <button type="button" ng-click="openFacebookAuthWindow()" class="btn btn-primary btn-block">Facebook</button>
                        </div>
                        
                        <div class="col-md-6 col-sm-12">
                            <button type="button" ng-click="openGoogleAuthWindow()" class="btn btn-danger btn-block">Google+</button>
                        </div>
                    </div>
                </div>                
                <div class="login-wrap">
                    <p>Enter personal details</p>
                    <input type="text" class="form-control" placeholder="First Name" ng-change="changeText()" ng-model="UserFormData.FirstName">
                    <input type="text" class="form-control" placeholder="Last Name" ng-change="changeText()" ng-model="UserFormData.LastName">
                    <div class="row">
                        <div class="col-sm-11"></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" ng-change="changeText()" ng-blur="UsernameTextBoxBlur(true)" ng-model="UserFormData.Username">
                    <ul class="alert-{{UsernameStatus.Class}} alert-dismissable" ng-show="UsernameStatus.Show" style="margin-left: 0;">
                        <li><span ng-bind="UsernameStatus.Message"></span><img ng-show="UsernameStatus.ShowLoadingImage" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right;" /></li>
                    </ul>
                    <input type="text" class="form-control" placeholder="Email" ng-change="changeText()" ng-blur="UsernameTextBoxBlur(false)" ng-model="UserFormData.EmailId">
                    <ul class="alert-{{EmailStatus.Class}} alert-dismissable" ng-show="EmailStatus.Show" style="margin-left: 0;">
                        <li ng-show="!EmailIdAlert.visible"><span ng-bind="EmailStatus.Message"></span><img ng-show="EmailStatus.ShowLoadingImage" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right;" /></li>
                    </ul>
                    <ul class="alert-danger alert-dismissable" ng-show="EmailStatus.Show" style="margin-left: 0;">
                        <li ng-show="EmailIdAlert.visible"><span ng-bind="EmailIdAlert.message"></span><img ng-show="EmailStatus.ShowLoadingImage" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right;" /></li>
                    </ul>
                    <input type="password" class="form-control" ng-change="changeText()" placeholder="Password" ng-model="UserFormData.Password">
                    <input type="password" class="form-control" ng-change="changeText()" placeholder="Re-type Password" ng-model="UserFormData.ConfirmPassword">
                    <div class="btn-group">
                        <input type="radio" name="answer" value="male" ng-model="UserFormData.Gender" />Male
                        <input type="radio" name="answer" value="female" ng-model="UserFormData.Gender" />Female
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" value="agree this condition" ng-model="UserFormData.tnc"> I agree to the <a href="#/tnc">Terms of Service</a> and <a href="#/privacy">Privacy</a> Policy
                    </label>

                    <div class="field">
                        <ul class="alert-danger alert-dismissable" ng-show="showErrors" style="margin-left: 0;">
                            <li ng-show="FirstNameAlert.visible" ng-bind="FirstNameAlert.message"></li>
                            <li ng-show="LastNameAlert.visible" ng-bind="LastNameAlert.message"></li>
                            <li ng-show="UsernameAlert.visible" ng-bind="UsernameAlert.message"></li>
                            <li ng-show="EmailIdAlert.visible" ng-bind="EmailIdAlert.message"></li>
                            <li ng-show="GenderAlert.visible" ng-bind="GenderAlert.message"></li>
                            <li ng-show="PasswordAlert.visible" ng-bind="PasswordAlert.message"></li>
                        </ul>
                        <!--<button type="submit" ng-click="UserSignUp()" class="btn btn-success btn-block">Create Account</button>-->
                        <input disabled="disabled" ng-click="UserSignUp()" class="btn btn-success btn-block" autocomplete="false" type="submit" value="CreateAccount">
                        <a href="#/login" class="text-center text-accepter">I already have an Account</a>
                        <div class="div_c"></div>

                        <div id="mc">
                            <p>Please draw the shape in the box to submit the form</p>
                            <canvas id="mc-canvas">
                                Your browser doesn't support the canvas element - please visit in a modern browser.
                            </canvas>
                            <input type="hidden" id="mc-action" value="http://josscrowcroft.com/projects/motioncaptcha-jquery-plugin/" />

                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
    <!--container end-->

</div>

<script type="text/javascript">
		jQuery(document).ready(function($) {

			// Do the biznizz:
			$('#mc-form').motionCaptcha({
				shapes: ['triangle', 'x', 'rectangle', 'circle', 'check', 'zigzag', 'arrow', 'delete', 'pigtail', 'star']
			});

			// Yep:
			//$("input.placeholder").placeholder();
		});
</script>