<div ng-controller="AdminAfterLoginValidateCompany">
    
    <section class="content-header">
        <h1>
            Validate/Add New Company
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="pagination floatRight"></div>
    
       
        <div class="row">
            <div class ="col-md-6">
                <img ng-show="selectedParentLogo" src="{{selectedParentLogo}}" height="30px" style="float: right;" />
            </div>
            <div class="col-md-6">
                <span ng-bind="selectedParentCompany"></span>
            </div>
            <div class="col-md-12">
                <section class="col-lg-12 connectedSortable">
                    <div class="box box-color box-bordered">
                        
                        <section class="col-lg-12 connectedSortable">
                            <div class="box box-color box-bordered">

                                <div angucomplete-alt
                                     id="companyName"
                                     placeholder="Enter New Company"
                                     pause="500"
                                     selected-object="addCompany"
                                     remote-url="http://{{sitehosturl}}/solr/GetCompanyDetailsAutocomplete?q="
                                     remote-url-request-formatter="remoteUrlRequestFn"
                                     remote-url-data-field="Payload"
                                     title-field="companyname"
                                     minlength="2"
                                     input-class="form-control form-control-small"
                                     ng-model="companyName"
                                     image-field="squarelogourl"
                                     match-class="highlight" />

                            </div>

                        </section>

                    </div>
                </section>
            </div>
            <br />
            <div class="col-md-12">

                <input type="checkbox" value="remember-me" ng-model="NewCompany.isPrimaryCompany" checked="checked"> Is this Primary Company?

            </div>
            <div class="col-md-6">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Parent Company Name" autofocus="" ng-model="NewCompany.parentCompanyName">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="website" autofocus="" ng-model="NewCompany.website">
                <input type="text" class="form-control ng-pristine ng-valid" ng-show="NewCompany.isPrimaryCompany" placeholder="headquarters" autofocus="" ng-model="NewCompany.headquarters">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="size" autofocus="" ng-model="NewCompany.size">
                <input type="text" class="form-control ng-pristine ng-valid" ng-show="NewCompany.isPrimaryCompany"  placeholder="founded" autofocus="" ng-model="NewCompany.founded">
                <!--<input type="text" class="form-control ng-pristine ng-valid" placeholder="type" autofocus="" ng-model="NewCompany.type">-->
                <!--<input type="text" class="form-control ng-pristine ng-valid" placeholder="industry" autofocus="" ng-model="NewCompany.industry">-->
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="revenue" autofocus="" ng-model="NewCompany.revenue">
                
            </div>
            <div class="col-md-6">
                <input type="text" id="Autocomplete2" ng-model="autocomplete" class="form-control" ng-autocomplete options="options" details="details" />                
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="specialities (service,bpo)" autofocus="" ng-model="NewCompany.specialities">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="telephone (comma separated)" autofocus="" ng-model="NewCompany.telephone">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="founder" ng-show="NewCompany.isPrimaryCompany" autofocus="" ng-model="NewCompany.founder">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="universalName" autofocus="" ng-model="NewCompany.universalName">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="descriptions" ng-show="NewCompany.isPrimaryCompany" autofocus="" ng-model="NewCompany.descriptions">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="mission" ng-show="NewCompany.isPrimaryCompany" autofocus="" ng-model="NewCompany.mission">


            </div>
            
            
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="text" ng-model="NewCompany.logoUrl" autofocus="" placeholder="logoUrl" class="form-control ng-pristine ng-valid">
                </div>
                <div class="col-md-6">
                    <input type="file" ng-file-select="onFileSelectLogoUrl($files)">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="squareLogoUrl" autofocus="" ng-model="NewCompany.squareLogoUrl">
                </div>
                <div class="col-md-6">
                    <input type="file" ng-file-select="onFileSelectSquareLogoUrl($files)">
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <button class="btn btn-success  btn-flat" ng-click="SubmitNewCompanyToServer()">Submit</button>
            </div>
            <div class="col-md-12"><br/></div>
            <div class="col-md-6">
                <button class="btn btn-danger btn-lg" ng-click="UpdateCompanySolr()">Update Company Solr</button>
            </div>
            
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="checkbox" value="remember-me" ng-model="NewCompany.isPrimaryCompany" checked="checked"> Is this Primary Company?<br />
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Company Id" autofocus="" ng-model="FetchAndLoadCompanyDataToDBModel">
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger btn-lg" ng-click="FetchAndLoadCompanyDataToDB()">FetchAndLoadCompanyDataToDB</button>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Company Id From" autofocus="" ng-model="FetchAndLoadCompanyDataToDBModelFrom">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Company Id To" autofocus="" ng-model="FetchAndLoadCompanyDataToDBModelTo">
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger btn-lg" ng-click="FetchAndLoadCompanyDataToDBFromTo()">FetchAndLoadCompanyDataToDB From To Update</button>
            </div>
        </div>
    </section><!-- /.content -->  

</div>
                
                      

        

<style type="text/css">
   
.swiper-container {
  width: 100%;
  
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.gray-slide {
  background: #f4f4f4;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  z-index: 20;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #4390ee;
}
  </style>