@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>urNotice - Auth</title>
</head>
<body>
    <div>
        <h2>urNotice - Auth Service</h2>
    </div>
</body>
</html>
